<ng-container *ngIf="totalInMonth">
  <clr-dropdown>
    <button class="btn btn-outline-primary" clrDropdownTrigger>
      {{selectedYear}} <clr-icon shape="caret down"></clr-icon>
    </button>
    <clr-dropdown-menu *clrIfOpen>
      <div clrDropdownItem *ngFor="let year of years; trackBy: trackYear" (click)="yearClick(year)">
        {{year}}
      </div>
    </clr-dropdown-menu>
  </clr-dropdown>
  <div class="canvas-container">
    <canvas #canvas></canvas>
  </div>
</ng-container>

<clr-alert *ngIf="!loading && !totalInMonth"
  [clrAlertType]="'info'" [clrAlertClosable]="false">
    <clr-alert-item>
        <span class="alert-text">No data</span>
    </clr-alert-item>
</clr-alert>

<div *ngIf="loading" class="spinner-cover">
  <div class="spinner spinner-md"></div>
</div>