<v-alert-message *ngIf="message" [message]="message"></v-alert-message>

<ng-container *ngIf="totalInMonth">
  <clr-dropdown>
    <button class="btn" clrDropdownTrigger>
      {{selectedYear}} <clr-icon shape="caret down"></clr-icon>
    </button>
    <clr-dropdown-menu *clrIfOpen>
      <div clrDropdownItem *ngFor="let year of years; trackBy: trackYear" (click)="yearClick(year)">
        {{year}}
      </div>
    </clr-dropdown-menu>
  </clr-dropdown>
  <div class="canvas-container">
    <canvas #canvas></canvas>
  </div>
</ng-container>

<div *ngIf="loading" class="spinner-cover">
  <div class="spinner spinner-md"></div>
</div>