<ng-container *ngIf="totalInMonth">
  <clr-dropdown>
    <button class="btn" clrDropdownTrigger>
      {{selectedYear}} <clr-icon shape="caret down"></clr-icon>
    </button>
    <clr-dropdown-menu *clrIfOpen>
      <div clrDropdownItem *ngFor="let year of years; trackBy: trackYear" (click)="yearClick(year)">
        {{year}}
      </div>
    </clr-dropdown-menu>
  </clr-dropdown>
  <div class="canvas-container">
    <canvas #canvas></canvas>
  </div>
</ng-container>

<clr-alert *ngIf="message" class="page-alert"
  [clrAlertType]="message.type" [clrAlertClosable]="false">
  <clr-alert-item>
    <span class="alert-text">{{message.text}}</span>
  </clr-alert-item>
</clr-alert>

<div *ngIf="loading" class="spinner-cover">
  <div class="spinner spinner-md"></div>
</div>