<nz-modal nzTitle="Edit word" [(nzVisible)]="visible" (nzOnCancel)="close()" [nzFooter]="null">
  <form nz-form *ngIf="word" #form="ngForm">
    <nz-form-item>
      <nz-form-label>Text</nz-form-label>
      <nz-form-control nzValidateStatus="success">
        <textarea nz-input name="text" type="text" rows="2" maxlength="200"
          [(ngModel)]="word.text" required></textarea>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>Translation</nz-form-label>
      <nz-form-control>
        <textarea nz-input name="translation" type="text" rows="2" maxlength="200"
          [(ngModel)]="word.translation"></textarea>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <button nz-button (click)="close()">
        <i nz-icon nzType="left-circle"></i> Cancel
      </button>
      <button nz-button nzType="primary" (click)="updateWord()"
        [nzLoading]="loading" [disabled]="form.invalid" class="save-btn">
        <i nz-icon nzType="save"></i> Save
      </button>
    </nz-form-item>
  </form> 
</nz-modal>