:host {
  display: block;
  padding: 100px 0;
}

form {
  max-width: 300px;
  margin: 0 auto;
  .login-header {
    text-align: center;
  }
  clr-input-container input {
    width: 100%;
  }
  .login-btn {
    margin-top: 36px;
  }
}