<form clrForm>
  <h4 class="login-header">
    <clr-icon shape="book" size="18"></clr-icon> Vocabulary
  </h4>
  <clr-alert *ngIf="message" [clrAlertType]="message.type" [clrAlertClosable]="false">
    <clr-alert-item>
      <span class="alert-text">{{message.text}}</span>
    </clr-alert-item>
  </clr-alert>
  <clr-input-container>
    <input clrInput type="text" [(ngModel)]="loginData.email"
      name="email" placeholder="Email" class="clr-col-12"/>
  </clr-input-container>
  <clr-password-container>
    <input clrPassword type="password" [(ngModel)]="loginData.password"
      name="password" placeholder="Password" class="clr-col-12"/>
  </clr-password-container>
  <button class="btn btn-primary btn-block login-btn" (click)="login()" [clrLoading]="loading">
    <clr-icon shape="login"></clr-icon> Login
  </button>
</form>
