<div class="ui card">
  <div class="content">
    <div class="header">Vocabulary</div>
  </div>
  <div class="content">
    <sui-message *ngIf="message" [isDismissable]="false" [class]="message.type">
      <div class="header">{{message.text}}</div>
    </sui-message>
    <form class="ui form" [class.loading]="loading" [formGroup]="loginForm">
      <div class="field">
        <div class="ui left icon input">
          <input type="text" placeholder="Email" formControlName="email">
          <i class="user icon"></i>
        </div>
      </div>
      <div class="field">
        <div class="ui left icon input">
          <input type="password" placeholder="Password" formControlName="password">
          <i class="lock icon"></i>
        </div>
      </div>
      <button class="ui button" type="submit" [disabled]="loginForm.invalid" (click)="onLogin()">
        Login
      </button>
    </form>
  </div>
</div>