<form clrForm>
  <h4 class="login-header">
    <clr-icon shape="book" size="18"></clr-icon> Vocabulary
  </h4>
  <v-alert-message *ngIf="message" [message]="message"></v-alert-message>
  <clr-input-container>
    <input clrInput type="text" [(ngModel)]="user.email"
      name="email" placeholder="Email" class="clr-col-12"/>
  </clr-input-container>
  <clr-password-container>
    <input clrPassword type="password" [(ngModel)]="user.password"
      name="password" placeholder="Password" class="clr-col-12"/>
  </clr-password-container>
  <button class="btn btn-primary btn-block login-btn" (click)="login()" [clrLoading]="loading">
    <clr-icon shape="login"></clr-icon> Login
  </button>
</form>
