:host {
  display: block;
}

.ui.card {
  width: 300px;
  margin: 100px auto 0;
  .header,
  .meta {
    text-align: center;
  }
  sui-message {
    display: block;
    margin-bottom: 14px;
  }
  .form .button {
    display: block;
    width: 100px;
    margin: 0 auto;
  }
}