:host {
  display: block;
  position: relative;
  text-align: center;
  min-height: 50px;
}

.ui.header {
  margin: 0;
  .word-text {
    cursor: pointer;
    font-size: 28px;
    word-break: break-word;
  }
}

.word-hint {
  word-break: break-word;
  font-style: italic;
}

.word-actions {
  margin: 15px 0 22px;
}