:host {
  display: block;
  position: relative;
  text-align: center;
  min-height: 50px;
}

.word-text {
  cursor: pointer;
  font-size: 28px;
  word-break: break-word;
}

.word-hint {
  word-break: break-word;
  font-style: italic;
}

.google-links {
  margin-bottom: 20px;
}