<ng-container *ngIf="word">
  <h1 class="ui header">
    <span class="word-text"
      title="Click to show translation"
      suiPopup
      popupTrigger="outsideClick"
      popupPlacement="top"
      [popupText]="word.translation || 'no translation'">
      {{word.text}}
    </span>
  </h1>

  <div class="google-links">
    <a class="ui basic small button google-service"
      target="_blank"
      title="Open in Google translate"
      [href]="word.googleTranslateLink">
      <img src="assets/images/google-translate-icon.png">
    </a>
    <a class="ui basic small button google-service"
      target="_blank"
      title="Open in Google images"
      [href]="word.googleImagesLink">
      <img src="assets/images/google-images-icon.png">
    </a>
  </div>
    
  <button class="ui basic samll button" 
    (click)="onNext()" 
    title="Next random word">
    <i class="icon random"></i> Next
  </button>
</ng-container>

<div *ngIf="loading" class="ui active inverted dimmer">
  <div class="ui loader"></div>
</div>