:host {
  display: block;
  text-align: center;
}

nz-spin {
  min-height: 40px;
}
nz-alert {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}
.word {
  font-size: 30px;
  font-weight: 500;
  word-break: break-word;
  .word-text {
    cursor: pointer;
  }
}
.word-hint {
  font-style: italic;
  word-break: break-word;
  max-width: 500px;
}
.word-actions {
  display: block;
  margin: 15px 0 22px;
}
.next-word {
  margin-bottom: 5px;
}
.word-count {
  position: absolute;
  bottom: 0;
  right: 0;
  min-width: 22px;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
  font-size: 11px;
  padding: 2px;
}