<ng-template let-popup #hintTemplate>
  <div class="word-hint">{{word.translation || 'no translation'}}</div>
</ng-template>

<sui-message *ngIf="!loading && !word" class="info" [isDismissable]="false">
  <div>Cannot display random word</div>
  <div>Try to add some words</div>
</sui-message>

<ng-container *ngIf="word">
  <h1 class="ui header">
    <span class="word-text"
      title="Click to show translation"
      suiPopup
      popupTrigger="outsideClick"
      popupPlacement="top"
      [popupTemplate]="hintTemplate">
      {{word.text}}
    </span>
  </h1>

  <div class="word-actions">
    <a class="ui basic compact button google-service"
      target="_blank"
      title="Open in Google translate"
      [href]="word.googleTranslateLink">
      <img src="assets/images/google-translate-icon.png">
    </a>
    <a class="ui basic compact button google-service"
      target="_blank"
      title="Open in Google images"
      [href]="word.googleImagesLink">
      <img src="assets/images/google-images-icon.png">
    </a>
    <button class="ui basic compact icon button"
      title="Edit word"
      (click)="onEdit(word)">
      <i class="edit outline grey icon"></i>
    </button>
  </div>
    
  <button class="ui basic compact button" 
    (click)="onNext()" 
    title="Next random word">
    <i class="icon random"></i> Next
  </button>
</ng-container>

<div *ngIf="loading" class="ui active inverted dimmer">
  <div class="ui loader"></div>
</div>

<v-word-edit (complete)="onEditComplete()"></v-word-edit>