<header class="header-4">
  <div class="branding">
    <a routerLink="/" class="nav-link">
      <clr-icon shape="book" size="22"></clr-icon>
      <span class="title">Vocabulary</span>
    </a>
  </div>
  <div class="header-actions">
    <clr-dropdown>
      <button class="nav-icon" clrDropdownTrigger>
        <clr-icon shape="user"></clr-icon>
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
        <a clrDropdownItem routerLink="/">
          <clr-icon shape="book"></clr-icon> Vocabulary
        </a>
        <a clrDropdownItem routerLink="/profile">
          <clr-icon shape="user"></clr-icon> Profile
        </a>
        <div class="dropdown-divider"></div>
        <a clrDropdownItem (click)="logout()">
          <clr-icon shape="logout"></clr-icon> Log out
        </a>
      </clr-dropdown-menu>
    </clr-dropdown>
  </div>
</header>

<router-outlet></router-outlet>