<header class="header-4">
  <div class="branding">
    <a routerLink="/" class="nav-link">
      <clr-icon shape="library" size="22"></clr-icon>
      <span class="title">Vocabulary</span>
    </a>
  </div>
  <div class="header-actions">
    <clr-dropdown>
      <button class="nav-text" clrDropdownTrigger>
        <clr-icon class="user-icon" size="22" shape="user"></clr-icon>
        <span class="user-email">{{user?.email}}</span>
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
        <a clrDropdownItem routerLink="/">
          <clr-icon shape="library"></clr-icon> Vocabulary
        </a>
        <a clrDropdownItem routerLink="/profile">
          <clr-icon shape="employee"></clr-icon> Profile
        </a>
        <div class="dropdown-divider"></div>
        <a clrDropdownItem (click)="logout()">
          <clr-icon shape="logout"></clr-icon> Log out
        </a>
      </clr-dropdown-menu>
    </clr-dropdown>
  </div>
</header>

<router-outlet></router-outlet>