:host {
  display: block;
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
}
.ant-card {
  margin-bottom: 8px;
}
.card-title {
  font-size: 15px;
  font-weight: normal;
  i {
    margin-right: 6px;
  }
}
.user-button {
  min-width: 40px;
  color: #1890ff;
}