<nz-card  nzType="inner" [nzTitle]="cardTitleTpl"
  [nzExtra]="cardExtraTpl" class="page-layout-card"></nz-card>

<ng-template #cardTitleTpl>
  <a class="card-title" routerLink="/">
    <i nz-icon nzType="read" nzTheme="outline"></i>
    <span>Vocabulary</span>
  </a>
</ng-template>

<ng-template #cardExtraTpl>
  <nz-dropdown nzPlacement="bottomRight" nzTrigger="click">
    <button nz-button nz-dropdown class="user-button">
      <i nz-icon type="user"></i>
    </button>
    <ul nz-menu>
      <li nz-menu-item nzDisabled>
        <i nz-icon type="profile"></i> Profile
      </li>
      <li nz-menu-divider></li>
      <li nz-menu-item (click)="logout()">
        <i nz-icon type="poweroff"></i> Logout
      </li>
    </ul>
  </nz-dropdown>
</ng-template>

<router-outlet></router-outlet>