@import "variables.less";

:host {
  display: block;
  max-width: 800px;
  margin: 0 auto;
  padding: 8px;
}

// TODO: remove after migration
header {
  display: flex;
  .nav-link clr-icon {
    color: #fafafa;
  }
}
