:host {
  display: block;
  position: relative;
}

.ui.table {
  .word-actions {
    padding: 4px 6px;
    text-align: right;
  }
  .empty {
    text-align: center;
    color: silver;
  }
}

.paging-meta {
  float: left;
  padding-top: 7px;
}

sui-pagination {
  float: right;
}

.delete-word-confirm {
  text-align: center;
  a {
    margin: 0 4px;
    cursor: pointer;
  }
}

.add-word {
  text-align: right;
}

.search-form {
  max-width: 400px;
  margin: 0 auto;
}