<ng-template let-popup let-context="context" #deleteWordTemplate>
  <div class="delete-word-confirm">
    <div>Are you sure?</div>
    <a (click)="popup.close(); onDelete(context.word)">Yes</a>
    <a (click)="popup.close()">No</a>
  </div>
</ng-template>

<table class="ui compact fixed celled table">
  <thead>
    <tr>
      <th>Text</th>
      <th>Translation</th>
      <th>Date</th>
      <th style="width: 180px"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let word of words">
      <td class="overflow-effect" [title]="word.text">{{word.text}}</td>
      <td class="overflow-effect" [title]="word.translation">{{word.translation}}</td>
      <td class="overflow-effect" title="{{word.createdAt|date:'dd.MM.yyyy HH:mm'}}">{{word.date}}</td>
      <td class="actions">
        <a class="ui basic small button google-service"
          target="_blank"
          title="Open in Google translate"
          [href]="word.googleTranslateLink">
          <img src="assets/images/google-translate-icon.png">
        </a>
        <a class="ui basic small button google-service"
          target="_blank"
          title="Open in Google images"
          [href]="word.googleImagesLink">
          <img src="assets/images/google-images-icon.png">
        </a>
        <button class="ui basic small icon button"
          title="Edit word"
          (click)="onEdit(word)">
          <i class="edit outline grey icon"></i>
        </button>
        <button class="ui basic small icon button"
          title="Remove word"
          suiPopup
          popupPlacement="top"
          popupTrigger="outsideClick"
          [popupTemplate]="deleteWordTemplate"
          [popupTemplateContext]="{ word: word }">
          <i class="window close outline grey icon"></i>
        </button>
      </td>
    </tr>
    <tr *ngIf="!words.length">
      <td colspan="4" class="empty">no words</td>
    </tr>
  </tbody>
  <tfoot *ngIf="paging.total">
    <tr>
      <th colspan="4">
        <div class="paging-meta">
          Shown {{paging.skip + 1}}-{{paging.skip + words.length}} words of {{paging.total}}
        </div>
        <sui-pagination
          class="small"
          [collectionSize]="paging.total"
          [pageSize]="paging.limit"
          [maxSize]="5"
          (pageChange)="onPageChange($event)"> 
        </sui-pagination>
      </th>
    </tr>
  </tfoot>
</table>

<div *ngIf="loading" class="ui active inverted dimmer">
  <div class="ui medium loader"></div>
</div>

<v-word-edit (complete)="onEditComplete()"></v-word-edit>