nz-table {
  margin-top: 15px;
}
.search {
  max-width: 400px;
  margin: 0 auto;
  @btnWidth: 32px;
  input {
    width: calc(100% - @btnWidth);
  }
  button {
    width: @btnWidth;
  }
}
.word-actions {
  width: 145px;
  text-align: center;
}
.add-word {
  text-align: right;
}