<table class="ui compact table">
  <thead>
    <tr>
      <th>Text</th>
      <th>Translation</th>
      <th style="width: 180px"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let word of words">
      <td>{{word.text}}</td>
      <td>{{word.translation}}</td>
      <td class="actions">
        <a class="ui basic small button google-service"
          target="_blank"
          title="Open in Google translate"
          [href]="word.googleTranslateLink">
          <img src="assets/images/google-translate-icon.png">
        </a>
        <a class="ui basic small button google-service"
          target="_blank"
          title="Open in Google images"
          [href]="word.googleImagesLink">
          <img src="assets/images/google-images-icon.png">
        </a>
        <button class="ui basic small icon button"
          title="Edit word"
          (click)="onEdit(word)">
          <i class="edit outline grey icon"></i>
        </button>
        <button class="ui basic small icon button"
          title="Remove word">
          <i class="window close outline grey icon"></i>
        </button>
      </td>
    </tr>
    <tr *ngIf="!words.length">
      <td colspan="3" class="empty">no words</td>
    </tr>
  </tbody>
  <tfoot *ngIf="paging.total">
    <tr>
      <th colspan="3">
        <div class="paging-meta">
          Shown {{paging.skip + 1}}-{{paging.skip + words.length}} words of {{paging.total}}
        </div>
        <sui-pagination
          class="mini"
          [collectionSize]="paging.total"
          [pageSize]="paging.limit"
          [maxSize]="5"
          (pageChange)="onPageChange($event)"> 
        </sui-pagination>
      </th>
    </tr>
  </tfoot>
</table>

<div *ngIf="loading" class="ui active inverted dimmer">
  <div class="ui medium loader"></div>
</div>

<v-word-edit (complete)="onEditComplete()"></v-word-edit>