<clr-modal [(clrModalOpen)]="open" [clrModalStaticBackdrop]="false">
  <div class="modal-title">{{isDelete? 'Delete' : 'Edit'}} word</div>

  <div *ngIf="word" class="modal-body">
    <v-alert-message *ngIf="message" [message]="message" class="in-modal"></v-alert-message>

    <!-- Edit form -->
    <form *ngIf="!isDelete" clrForm #form="ngForm" (ngSubmit)="updateWord()">
      <clr-input-container>
        <label>Text</label>
        <input clrInput type="text" name="text" maxlength="200"
          placeholder="Text" [(ngModel)]="word.text" vNotEmpty/>
        <clr-control-error>Text cannot be empty</clr-control-error>
      </clr-input-container>
      <clr-input-container>
        <label>Translation</label>
        <input clrInput type="text" name="translation" maxlength="200"
          placeholder="Translation" [(ngModel)]="word.translation"/>
      </clr-input-container>
      <clr-input-container>
        <label>Created</label>
        <input clrInput type="text" name="created" disabled
          [value]="word.createdAt|date:'dd.MM.yyyy HH:mm:ss'"/>
      </clr-input-container>
      <clr-input-container>
        <label>Updated</label>
        <input clrInput type="text" name="updated" disabled
          [value]="word.updatedAt|date:'dd.MM.yyyy HH:mm:ss'"/>
      </clr-input-container>
      <div class="actions">
        <button class="btn btn-icon btn-warning delete" (click)="showDelete(true)"
          title="Delete word">
          <clr-icon shape="trash"></clr-icon>
        </button>
        <button class="btn btn-outline" type="button" (click)="closeModal()"
          title="Cancel editing">
          <clr-icon shape="undo"></clr-icon> Cancel
        </button>
        <button class="btn btn-primary" type="submit" [disabled]="form?.invalid"
          [clrLoading]="loading" title="Save changes">
          <clr-icon shape="floppy"></clr-icon> Save
        </button>
      </div>
    </form>

    <!-- Delete -->
    <div *ngIf="isDelete">
      Are you really want to delete word <b>{{word.text}}</b>?
      <div class="actions">
        <button class="btn" (click)="showDelete(false)" title="Back to edit">
          <clr-icon shape="undo"></clr-icon> Back
        </button>
        <button class="btn btn-warning" (click)="deleteWord()" [clrLoading]="loading"
          title="Confirm delete">
          <clr-icon shape="trash"></clr-icon> Delete
        </button>
      </div>
    </div>
  </div>
</clr-modal>