<clr-modal [(clrModalOpen)]="open" [clrModalStaticBackdrop]="false">
  <h3 class="modal-title">Edit word</h3>

  <div class="modal-body">
    <clr-alert *ngIf="message" [clrAlertType]="message.type" [clrAlertClosable]="false">
      <clr-alert-item>
        <span class="alert-text">{{message.text}}</span>
      </clr-alert-item>
    </clr-alert>

    <form *ngIf="word" clrForm #form="ngForm">
      <clr-input-container>
        <label>Text</label>
        <input clrInput type="text" name="text" maxlength="200"
          placeholder="Text" [(ngModel)]="word.text" vNotEmpty/>
        <clr-control-error>Text cannot be empty</clr-control-error>
      </clr-input-container>
      <clr-input-container>
        <label>Translation</label>
        <input clrInput type="text" name="translation" maxlength="200"
          placeholder="Translation" [(ngModel)]="word.translation"/>
      </clr-input-container>
      <clr-input-container>
        <label>Created</label>
        <input clrInput type="text" name="created" disabled
          value="{{word.createdAt|date:'dd.MM.yyyy HH:mm:ss'}}"/>
      </clr-input-container>
      <clr-input-container>
        <label>Updated</label>
        <input clrInput type="text" name="updated" disabled
          value="{{word.updatedAt|date:'dd.MM.yyyy HH:mm:ss'}}"/>
      </clr-input-container>
      <div class="actions">
        <button class="btn btn-outline" type="button" (click)="open = false">
          Cancel
        </button>
        <button class="btn btn-primary" type="button" (click)="updateWord()"
          [disabled]="form?.invalid" [clrLoading]="loading">
          Save
        </button>
      </div>
    </form>
  </div>
</clr-modal>