:host {
  text-align: left;
}
.modal-body {
  max-height: 100%;
}
clr-input-container:first-child {
  margin-top: 0;
}
.actions {
  margin-top: 22px;
  text-align: right;
  .btn[type="submit"] {
    margin-right: 0;
  }
}
.clr-input {
  max-width: 250px;
  width: 100%;
}