@import "variables";

:host {
  display: block;
  position: relative;
  text-align: center;
  min-height: 36px;
}
h5 {
  margin: 0 0 5px;
  font-size: 15px;
}
.card {
  display: inline-block;
  max-width: 350px;
  margin: 10px;
}
.card-block {
  padding: 15px;
}
.card-title {
  cursor: pointer;
  border-bottom: 1px dashed @color-silver2;
  padding-bottom: 12px;
  margin-bottom: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.translation {
  color: @color-gray;
  font-weight: normal;
}
.btn.refresh {
  margin: 10px;
}
