@import "variables";

:host {
  display: block;
  position: relative;
  text-align: center;
  min-height: 36px;
}

h5 {
  margin: 0 0 15px;
}

.clr-row {
  [class^="clr-col"] {
    margin-bottom: 15px;
  }
}

.flip-word {
  perspective: 1000px;
  height: 60px;
  font-size: 16px;
  cursor: pointer;
  &.flip .card-wrap {
    transform: rotateY(180deg);
  }
  .card-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
  }
  .card {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    backface-visibility: hidden;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    .card-block {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      border: 0;
    }
  }
  .card-front {
    background-color: @color-white2;
  }
  .card-back {
    border-color: @color-blue;
    color: @color-blue;
    transform: rotateY(180deg);
  }
}

.word-actions {
  position: absolute;
  top: 0;
  right: 0;
  .dropdown-toggle {
    padding: 2px;
    color: inherit;
  }
}

.btn.reload {
  margin: 0;
}
