<v-alert-message *ngIf="message" [message]="message"></v-alert-message>

<ng-container *ngIf="words?.length">
  <h5>Do you remember those words?</h5>

  <div class="words">
    <div class="clr-row">
      <div *ngFor="let word of words; index as wordIndex; trackBy: trackWord" class="clr-col-sm-6"
        [style.zIndex]="words.length - wordIndex">

        <div class="flip-word" (click)="wordClick($event, word)" [class.flip]="word.flip">
          <div class="card-wrap">
            <div class="card card-front">
              <div class="card-block">{{word.text}}</div>
            </div>
            <div class="card card-back">
              <div class="card-block">
                {{word.translation || 'no translation'}}
              </div>
              <div class="word-actions">
                <clr-dropdown>
                  <button clrDropdownTrigger><clr-icon shape="ellipsis-vertical"></clr-icon></button>
                  <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
                    <div clrDropdownItem [vOpenUrl]="word.googleTranslateLink">{{actions.openGoogleTranslate}}</div>
                    <div clrDropdownItem [vOpenUrl]="word.googleImagesLink">{{actions.openGoogleImages}}</div>
                    <div clrDropdownItem (click)="editWord.openModal(word)">{{actions.editWord}}</div>
                  </clr-dropdown-menu>
                </clr-dropdown>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>

  <button type="button" class="btn btn-icon refresh" title="Refresg" (click)="refreshClick()">
    Refresh <clr-icon shape="shuffle"></clr-icon>
  </button>
</ng-container>

<div *ngIf="loading" class="spinner-cover">
  <div class="spinner spinner-md"></div>
</div>

<v-word-edit #editWord (complete)="editComplete($event)"></v-word-edit>
