<v-alert-message *ngIf="message" [message]="message"></v-alert-message>

<ng-container *ngIf="words?.length">
  <h5>Do you remember those words?</h5>

  <div class="words">
    <div class="word" *ngFor="let word of words; trackBy: trackWord">
      <div class="card">
        <div class="card-block">
          <div class="card-title" (click)="word.hint = !word.hint">
            <span *ngIf="!word.hint">{{word.text}}</span>
            <span *ngIf="word.hint" class="translation">{{word.translation || '[no translation]'}}</span>
          </div>
          <v-word-actions [word]="word" (edit)="editWord.openModal(word)"></v-word-actions>
        </div>
      </div>
    </div>
  </div>

  <button type="button" class="btn btn-icon refresh" title="Refresg" (click)="getRandomWords()">
    Refresh <clr-icon shape="shuffle"></clr-icon>
  </button>
</ng-container>

<div *ngIf="loading" class="spinner-cover">
  <div class="spinner spinner-md"></div>
</div>

<v-word-edit #editWord [canDelete]="false" (editComplete)="editComplete($event)"></v-word-edit>
