<ul class="nav">
  <li class="nav-item">
    <button class="btn btn-link nav-link" routerLink="/" routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">
      <clr-icon shape="list" size="14"></clr-icon> Words
    </button>
  </li>
  <li class="nav-item">
    <button class="btn btn-link nav-link" routerLink="/random-words" routerLinkActive="active">
      <clr-icon shape="shuffle" size="14"></clr-icon> Random words
    </button>
  </li>
  <li class="nav-item">
    <button class="btn btn-link nav-link" routerLink="/stats" routerLinkActive="active">
      <clr-icon shape="bar-chart" size="14"></clr-icon> Stats
    </button>
  </li>
</ul>

<div class="tabs-content">
  <router-outlet></router-outlet>
</div>