button:focus {
  outline: none;
}

v-login {
  clr-password-container .clr-input-group {
    width: 100%;
    max-width: 100%;
    input {
      width: calc(100% - 30px);
    }
  }
}

.page-layout-card {
  .ant-card-extra {
    padding: 8px 0;
  }
  .ant-card-body {
    display: none;
  }
}

.page-tabs {
  line-height: 38px;
  border: 0;
  overflow: hidden;
  padding-bottom: 1px;
  .ant-menu-item {
    outline: none;
    @media (max-width: 400px) {
      padding: 0 15px;
    }
  }
}
.page-tabs-content {
  border: 1px solid @border-color-base;
  border-radius: 2px;
  padding: 15px;
  margin-top: -1px;
  @media (max-width: 767px) {
    padding: 10px;
  }
}

v-words-list {
  .ant-table-placeholder {
    padding: 10px;
    border-radius: 0;
    border: 1px solid @border-color-base;
    border-top: 0;
  }
  .ant-table-footer {
    padding: 10px;
  }
}