.page-layout-card {
  .ant-card-extra {
    padding: 8px 0;
  }
  .ant-card-body {
    display: none;
  }
}

v-words-list {
  .ant-table-placeholder {
    padding: 10px;
    border-radius: 0;
    border: 1px solid @border-color-base;
    border-top: 0;
  }
}