@import "~ng-zorro-antd/style/entry.less";
@import "~ng-zorro-antd/button/style/entry.less";
@import "~ng-zorro-antd/card/style/entry.less";
@import "~ng-zorro-antd/form/style/entry.less";
@import "~ng-zorro-antd/input/style/entry.less";
@import "~ng-zorro-antd/alert/style/entry.less";
@import "~ng-zorro-antd/dropdown/style/entry.less";
@import "~ng-zorro-antd/modal/style/entry.less";
@import "~ng-zorro-antd/menu/style/entry.less";

v-page-layout {
  .ant-card-type-inner .ant-card-extra {
    padding: 8px 0;
  }
  .ant-card-body {
    display: none;
  }
}



.ui.button.google-service {
  padding: 5px 4px;
  height: 30px;
  width: 32px;
  img {
    width: 20px;
  }
}

.ui.table {
  td, th {
    &.overflow-effect {
      position: relative;
      text-overflow: clip;
      white-space: nowrap;
      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 100%;
        background-image: linear-gradient(to right, transparent, white);
      }
    }
  }
}

.word-actions {
  .ui.button {
    vertical-align: top;
    height: 30px;
    margin-right: 0;
    &:not(:last-child) {
      margin-right: 4px;
    }
  }
}