<ul nz-menu nzMode="horizontal">
  <li nz-menu-item routerLink="/" routerLinkActive="ant-menu-item-selected"
    [routerLinkActiveOptions]="{ exact: true }">
    <i nz-icon type="bars"></i> Words
  </li>
  <li nz-menu-item routerLink="/random-word" routerLinkActive="ant-menu-item-selected">
    <i nz-icon type="interation"></i> Random word
  </li>
  <li nz-menu-item routerLink="/stats" routerLinkActive="ant-menu-item-selected">
    <i nz-icon type="bar-chart"></i> Stats
  </li>
</ul>

<router-outlet></router-outlet>