<!-- Spinner -->
<nz-spin [nzSpinning]="loading">

  <!-- Search -->
  <div class="search">
    <nz-input-group nzCompact>
      <input type="text" nz-input placeholder="Search"
        [(ngModel)]="search" (keyup.enter)="getWords()"/>
      <button nz-button (click)="getWords()">
        <i nz-icon type="search"></i>
      </button>
    </nz-input-group>
  </div>

  <!-- Table -->
  <nz-table #wordsTable nzSize="middle" nzBordered
    [nzData]="words"
    [nzShowPagination]="false"
    [nzFrontPagination]="false"
    [nzFooter]="tableFooterTpl"
    [nzNoResult]="'No data'">
    <thead>
      <tr>
        <th style="width: 50%">Word</th>
        <th style="width: 50%">Translation</th>
        <th style="min-width: 40px"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let word of wordsTable.data">
        <td>{{word.text}}</td>
        <td>{{word.translation}}</td>
        <td>
          <v-word-actions [word]="word"
            (edit)="wordEditCmp.openModal(word)"
            (delete)="deleteWord(word)">
          </v-word-actions>
        </td>
      </tr>
    </tbody>
  </nz-table>

  <!-- Table footer -->
  <ng-template #tableFooterTpl>
    <div class="footer" nz-row>
      <div nz-col [nzSm]="18" class="paging">
        <nz-pagination *ngIf="words?.length"
          [nzSize]="'small'"
          [nzTotal]="paging.total"
          [nzPageSize]="paging.pageSize"
          [nzShowTotal]="totalTpl"
          [(nzPageIndex)]="paging.page"
          (nzPageIndexChange)="getWords()">
        </nz-pagination>
        <ng-template #totalTpl let-range="range" let-total>
          {{range[0]}}-{{range[1]}} of {{total}} words
        </ng-template>
      </div>
      <div nz-col [nzSm]="6" class="add-words">
        <button nz-button (click)="wordCreateCmp.openModal()">
          <i nz-icon nzType="plus-circle"></i> Add word(s)
        </button>
      </div>
    </div>
  </ng-template>
</nz-spin>

<!-- Word edit & create modals -->
<v-word-edit #wordEditCmp (complete)="editComplete($event)"></v-word-edit>
<v-word-create #wordCreateCmp (complete)="getWords()"></v-word-create>