<v-alert-message *ngIf="message" [message]="message"></v-alert-message>

<div class="top-bar">
  <div class="clr-row clr-align-items-center">
    <div class="clr-col-6 text-left">
      <div class="search">
        <input class="clr-input" placeholder="Search" name="search"
          [(ngModel)]="search" (keyup.enter)="getWords()"/>
        <clr-icon shape="search" (click)="getWords()"></clr-icon>
      </div>
    </div>
    <div class="clr-col-6 text-right">
      <button class="btn btn-add" (click)="wordCreate.openModal()">
        <clr-icon shape="plus"></clr-icon> Add word(s)
      </button>
    </div>
  </div>
</div>

<clr-datagrid>
  <clr-dg-column>Text</clr-dg-column>
  <clr-dg-column>Translation</clr-dg-column>
  <clr-dg-column *ngIf="!actionMenuVisible" class="actions"></clr-dg-column>

  <clr-dg-row *ngFor="let word of words">
    <clr-dg-cell>{{word.text}}</clr-dg-cell>
    <clr-dg-cell>{{word.translation}}</clr-dg-cell>
    <clr-dg-cell *ngIf="!actionMenuVisible" class="actions">
      <div class="btn-group btn-icon">
        <button class="btn" [title]="actions.openGoogleTranslate" [vOpenUrl]="word.googleTranslateLink">
          <clr-icon shape="text"></clr-icon>
        </button>
        <button class="btn" [title]="actions.openGoogleImages" [vOpenUrl]="word.googleImagesLink">
          <clr-icon shape="image"></clr-icon>
        </button>
        <button class="btn" [title]="actions.editWord" (click)="wordEdit.openModal(word)">
          <clr-icon shape="pencil"></clr-icon>
        </button>
        <button class="btn" [title]="actions.deleteWord" (click)="wordDelete.openModal(word)">
          <clr-icon shape="trash"></clr-icon>
        </button>
      </div>
    </clr-dg-cell>
    <clr-dg-action-overflow *ngIf="actionMenuVisible">
      <button class="action-item" [vOpenUrl]="word.googleTranslateLink">{{actions.openGoogleTranslate}}</button>
      <button class="action-item" [vOpenUrl]="word.googleImagesLink">{{actions.openGoogleImages}}</button>
      <button class="action-item" (click)="wordEdit.openModal(word)">{{actions.editWord}}</button>
      <button class="action-item" (click)="wordDelete.openModal(word)">{{actions.deleteWord}}</button>
    </clr-dg-action-overflow>
  </clr-dg-row>

  <clr-dg-placeholder>No data</clr-dg-placeholder>

  <clr-dg-footer>
    <clr-dg-pagination #pagination
      [clrDgPage]="paging.page"
      [clrDgPageSize]="paging.pageSize"
      [clrDgTotalItems]="paging.total"
      (clrDgPageChange)="pageChanged($event)">
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} words
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>

<v-word-create #wordCreate (complete)="createComplete()"></v-word-create>

<v-word-edit #wordEdit (complete)="editComplete($event)"></v-word-edit>

<v-word-delete #wordDelete (complete)="deleteComplete()"></v-word-delete>

<div *ngIf="loading" class="spinner-cover">
  <div class="spinner spinner-md"></div>
</div>