:host {
  display: block;
  position: relative;
}
.search {
  max-width: 300px;
  margin: 0 auto;
  position: relative;
  .clr-input {
    width: 100%;
  }
  clr-icon {
    position: absolute;
    top: 4px;
    right: 4px;
    cursor: pointer;
  }
}
.actions {
  padding: 6px 12px;
  flex-grow: 0;
  min-width: 0;
  .btn-group {
    margin: 0;
  }
  .btn {
    padding: 4px 6px;
    line-height: normal;
    height: auto;
    clr-icon {
      transform: none;
    }
  }
}
clr-datagrid {
  max-width: 700px;
  margin: 0 auto;
}
clr-dg-action-overflow .action-item {
  padding: 3px 15px;
  &:focus:not(:hover) {
    background-color: transparent;
  }
}
