<!-- Spinner -->
<nz-spin [nzSpinning]="loading">

  <!-- Search -->
  <div class="search">
    <nz-input-group nzCompact>
      <input type="text" nz-input placeholder="Search"
        [(ngModel)]="search" (keyup.enter)="getWords()"/>
      <button nz-button (click)="getWords()">
        <i nz-icon type="search"></i>
      </button>
    </nz-input-group>
  </div>

  <!-- Table -->
  <nz-table #wordsTable nzSize="middle" nzBordered
    [nzData]="words"
    [nzShowPagination]="false"
    [nzFrontPagination]="false"
    [nzFooter]="tableFooterTpl"
    [nzNoResult]="'No data'">
    <thead>
      <tr>
        <th style="width: 40%">Word</th>
        <th >Translation</th>
        <th style="width: 145px"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let word of wordsTable.data">
        <td>{{word.text}}</td>
        <td>{{word.translation}}</td>
        <td nzAlign="center">
          <nz-button-group>
            <a nz-button nzSize="small" title="Open in Google Translate"
              target="_blank" [href]="word.googleTranslateLink">
              <i nz-icon type="google"></i>
            </a>
            <a nz-button nzSize="small" title="Open in Google Images"
              target="_blank" [href]="word.googleImagesLink">
              <i nz-icon type="search"></i>
            </a>
            <button nz-button nzSize="small" title="Edit word" (click)="wordEditCmp.openModal(word)">
              <i nz-icon type="edit"></i> 
            </button>
            <button nz-button nzSize="small" title="Delete word"
              nz-popconfirm
              nzTitle="Are you sure?"
              (nzOnConfirm)="deleteWord(word)"
              nzPlacement="topRight"
              nzOkText="Yes" nzCancelText="No">
              <i nz-icon type="delete"></i> 
            </button>
          </nz-button-group>
        </td>
      </tr>
    </tbody>
  </nz-table>

  <!-- Table footer -->
  <ng-template #tableFooterTpl>
    <div class="footer" nz-row>
      <div nz-col [nzSm]="18" class="paging">
        <nz-pagination *ngIf="words?.length"
          [nzSize]="'small'"
          [nzTotal]="paging.total"
          [nzPageSize]="paging.pageSize"
          [nzShowTotal]="totalTpl"
          [(nzPageIndex)]="paging.page"
          (nzPageIndexChange)="getWords()">
        </nz-pagination>
        <ng-template #totalTpl let-range="range" let-total>
          {{range[0]}}-{{range[1]}} of {{total}} words
        </ng-template>
      </div>
      <div nz-col [nzSm]="6" class="add-words">
        <button nz-button (click)="wordCreateCmp.openModal()">
          <i nz-icon nzType="plus-circle"></i> Add word(s)
        </button>
      </div>
    </div>
  </ng-template>
</nz-spin>

<!-- Word edit & create modals -->
<v-word-edit #wordEditCmp (complete)="editComplete($event)"></v-word-edit>
<v-word-create #wordCreateCmp (complete)="getWords()"></v-word-create>