<div *ngIf="!isSmallScreen" class="btn-group btn-icon">
  <button class="btn" [title]="actions.openGoogleTranslate" [vOpenUrl]="word.googleTranslateLink">
    <clr-icon shape="text"></clr-icon>
  </button>
  <button class="btn" [title]="actions.openGoogleImages" [vOpenUrl]="word.googleImagesLink">
    <clr-icon shape="image"></clr-icon>
  </button>
  <button class="btn" [title]="actions.editWord" (click)="editClick()">
    <clr-icon shape="pencil"></clr-icon>
  </button>
  <button class="btn" [title]="actions.deleteWord" (click)="deleteClick()">
    <clr-icon shape="trash"></clr-icon>
  </button>
</div>

<clr-dropdown *ngIf="isSmallScreen">
  <button class="btn btn-icon" clrDropdownTrigger>
    <clr-icon shape="cog"></clr-icon>
  </button>
  <clr-dropdown-menu *clrIfOpen [clrPosition]="'bottom-right'">
    <div clrDropdownItem [vOpenUrl]="word.googleTranslateLink">
      {{actions.openGoogleTranslate}}
    </div>
    <div clrDropdownItem [vOpenUrl]="word.googleImagesLink">
      {{actions.openGoogleImages}}
    </div>
    <div class="dropdown-divider" role="separator"></div>
    <div clrDropdownItem (click)="editClick()">
      {{actions.editWord}}
    </div>
    <div clrDropdownItem (click)="deleteClick()">
      {{actions.deleteWord}}
    </div>
  </clr-dropdown-menu>
</clr-dropdown>

<clr-modal [(clrModalOpen)]="isDeleteConfirmOpen" [clrModalStaticBackdrop]="false">
  <div class="modal-title">Delete word</div>
  <div class="modal-body">
    Are you really want to delete word <b>{{word?.text}}</b>?
  </div>
  <div class="modal-footer">
    <button class="btn" (click)="isDeleteConfirmOpen = false">
      <clr-icon shape="undo"></clr-icon> Cancel
    </button>
    <button class="btn btn-warning" (click)="deleteConfirm()">
      <clr-icon shape="trash"></clr-icon> Delete
    </button>
  </div>
</clr-modal>
