<clr-modal [(clrModalOpen)]="open" [clrModalStaticBackdrop]="false">
  <div class="modal-title">Add word(s)</div>

  <div class="modal-body">
    <clr-alert *ngIf="message" [clrAlertType]="message.type" [clrAlertClosable]="false">
      <clr-alert-item>
        <span class="alert-text">{{message.text}}</span>
      </clr-alert-item>
    </clr-alert>

    <form *ngIf="!extraInfo" #form="ngForm" (ngSubmit)="saveWords()">
      <div class="items-wrapper" #itemsWrapper>
        <div class="item" *ngFor="let word of words; index as wordIndex; trackBy: trackWord">
          <div class="item-text">
            <input type="text" class="clr-input" placeholder="Text"
              name="text-{{wordIndex}}" [(ngModel)]="word.text" maxlength="200" vNotEmpty/>
          </div>
          <div class="item-translation">
            <input type="translation" class="clr-input" placeholder="Translation"
              name="text-{{wordIndex}}" [(ngModel)]="word.translation" maxlength="200"/>
          </div>
          <div class="item-delete">
            <clr-icon shape="trash" (click)="deleteWord(wordIndex)"
              [class.disabled]="words.length === 1"></clr-icon>
          </div>
        </div>
      </div>

      <div class="actions clr-row">
        <div class="clr-col-4">
          <a (click)="addWord()">
            <clr-icon shape="plus"></clr-icon> Add word
          </a>
        </div>
        <div class="clr-col-8 text-right">
          <button class="btn" type="button" (click)="open = false">
            <clr-icon shape="undo"></clr-icon> Cancel
          </button>
          <button class="btn btn-primary" type="submit" [disabled]="form?.invalid"
            [clrLoading]="loading">
            <clr-icon shape="floppy"></clr-icon> Save
          </button>
        </div>
      </div>
    </form>

    <div *ngIf="extraInfo" class="extra-info">
      <clr-alert [clrAlertType]="'info'" [clrAlertClosable]="false">
        <clr-alert-item>
          <span class="alert-text">
            <div>Following words were not saved because they are already in the database:</div>
            <ul class="list">
              <li>word1</li>
              <li>word2</li>
            </ul>
          </span>
        </clr-alert-item>
      </clr-alert>
      <div class="text-center">
        <button class="btn" type="button" (click)="open = false">
          <clr-icon shape="check"></clr-icon> Ok
        </button>
      </div>
    </div>
  </div>
</clr-modal>