.items-wrapper {
  margin-bottom: 20px;
  max-height: 260px;
  overflow-y: auto;
  overflow-x: hidden;
  .item {
    display: flex;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
    .item-text,
    .item-translation {
      flex: 1;
      margin-right: 10px;
      .clr-input {
        width: 100%;
      }
    }
    .item-delete {
      flex: 0 0 20px;
      clr-icon {
        cursor: pointer;
        &.disabled {
          opacity: 0.5;
          cursor: not-allowed;
        }
      }
    }
  }
}
.actions {
  .btn[type="submit"] {
    margin-right: 0;
  }
  .add-word {
    margin: 0;
    padding: 0;
  }
}
.extra-info-ok {
  margin-top: 15px;
  text-align: center;
}