<v-alert-message *ngIf="message" [message]="message"></v-alert-message>

<ng-container *ngIf="word">
  <clr-signpost>
    <span class="word-text" clrSignpostTrigger>
      {{word.text}}
    </span>
    <clr-signpost-content clrPosition="top-middle" *clrIfOpen>
      {{word.translation || 'no translation'}}
    </clr-signpost-content>
  </clr-signpost>

  <div class="btn-group btn-icon word-actions">
    <button class="btn" title="Open in Google Translate" [vOpenUrl]="word.googleTranslateLink">
      <clr-icon shape="text"></clr-icon>
    </button>
    <button class="btn" title="Open in Google Images" [vOpenUrl]="word.googleImagesLink">
      <clr-icon shape="image"></clr-icon>
    </button>
    <button class="btn" title="Edit word" (click)="wordEditCmp.openModal(word)">
      <clr-icon shape="pencil"></clr-icon>
    </button>
  </div>

  <button (click)="getRandomWord()" title="Next random word" class="btn next-word">
    <clr-icon shape="shuffle"></clr-icon> Next
  </button>

  <div class="badge badge-5 word-count" title="Words shown">{{wordCount}}</div>
</ng-container>

<div *ngIf="loading" class="spinner-cover">
  <div class="spinner spinner-md"></div>
</div>

<v-word-edit #wordEditCmp (complete)="editComplete($event)"></v-word-edit>