<nz-spin [nzSpinning]="loading">
  <ng-container *ngIf="word">
    <div class="word">
      <ng-template #hintTemplate>
        <div class="word-hint">{{word?.translation || 'no translation'}}</div>
      </ng-template>
      <span class="word-text" title="Click to show translation"
        nz-popover nzTrigger="click" [nzContent]="hintTemplate">
        {{word.text}}
      </span>
    </div>
    
    <nz-button-group class="word-actions">
      <a nz-button  title="Open in Google Translate" [vOpenUrl]="word.googleTranslateLink">
        <i nz-icon type="google"></i>
      </a>
      <a nz-button title="Open in Google Images" [vOpenUrl]="word.googleImagesLink">
        <i nz-icon type="picture"></i>
      </a>
      <button nz-button title="Edit word" (click)="wordEditCmp.openModal(word)">
        <i nz-icon type="edit"></i> 
      </button>
    </nz-button-group>

    <button nz-button (click)="getRandomWord()" title="Next random word" class="next-word">
      <i nz-icon type="interation"></i> Next
    </button>

    <div class="word-count" title="Words shown">{{wordCount}}</div>
  </ng-container>

  <nz-alert *ngIf="!loading && !word" nzType="info" nzMessage="No data"></nz-alert>
</nz-spin>

<v-word-edit #wordEditCmp (complete)="editComplete($event)"></v-word-edit>