@import "variables.less";

:host {
  display: block;
  position: relative;
  text-align: center;
  min-height: 36px;
}

.word-text {
  word-break: break-word;
}
.word-actions {
  display: block;
  margin: 12px 0 24px;
}
.next-word {
  margin: 0 0 10px;
}
.word-count {
  position: absolute;
  bottom: 0;
  right: 0;
}

// TODO: Remove after migration
.word-text {
  margin-bottom: 0;
}