<ul class="nav">
  <li class="nav-item">
    <button class="btn btn-link nav-link active">
      <clr-icon shape="user" size="14"></clr-icon> Profile
    </button>
  </li>
</ul>

<div class="tabs-content">
  <form *ngIf="user" clrForm>
    <clr-input-container>
      <label>Email</label>
      <input clrInput type="text" name="email" disabled value="{{user.email}}"/>
    </clr-input-container>
    <clr-input-container>
      <label>Created at</label>
      <input clrInput type="text" name="createdAt" disabled
        value="{{user.createdAt|date:'dd.MM.yyyy HH:mm:ss'}}"/>
    </clr-input-container>
    <clr-input-container>
      <label>Updated at</label>
      <input clrInput type="text" name="updatedAt" disabled
        value="{{user.updatedAt|date:'dd.MM.yyyy HH:mm:ss'}}"/>
    </clr-input-container>
  </form>
</div>