<ul class="nav">
  <li class="nav-item">
    <button class="btn btn-link nav-link active">
      <clr-icon shape="user" size="14"></clr-icon> Profile
    </button>
  </li>
</ul>

<div class="page-tabs-content">
  <form *ngIf="user" nz-form>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzNoColon]="true">Email</nz-form-label>
      <nz-form-control [nzSm]="18">
        <input nz-input [value]="user.email" disabled>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzNoColon]="true">Created at</nz-form-label>
      <nz-form-control [nzSm]="18">
        <input nz-input value="{{user.createdAt|date:'dd.MM.yyyy HH:mm:ss'}}" disabled>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzNoColon]="true">Updated at</nz-form-label>
      <nz-form-control [nzSm]="18">
        <input nz-input value="{{user.updatedAt|date:'dd.MM.yyyy HH:mm:ss'}}" disabled>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>