<clr-modal [(clrModalOpen)]="open" [clrModalStaticBackdrop]="false">
  <div class="modal-title">Delete word</div>
  <div class="modal-body">
    <v-alert-message *ngIf="message" [message]="message" class="in-modal"></v-alert-message>
    <div>
      Are you really want to delete word <b>{{word?.text}}</b>?
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" (click)="open = false">
      <clr-icon shape="undo"></clr-icon> Cancel
    </button>
    <button class="btn btn-warning" (click)="deleteClick()" [clrLoading]="loading">
      <clr-icon shape="trash"></clr-icon> Delete
    </button>
  </div>
</clr-modal>