.content {
  position: relative;
}

.ui.form {
  textarea {
    resize: none;
  }
  .fields {
    position: relative;
    padding-right: 41px;
    .button {
      position: absolute;
      top: 12px;
      right: 2px;
    }
  }
} 