<nz-modal nzTitle="Add word(s)" [(nzVisible)]="open" [nzFooter]="null" nzClassName="word-create-modal">
  <form nz-form #form="ngForm">
    <div class="words-items">
      <nz-form-item *ngFor="let word of words; index as wordIndex">
        <nz-input-group nzCompact [nzAddOnAfter]="rowDelTpl">
          <input type="text" nz-input name="text-{{wordIndex}}" placeholder="Text"
            [(ngModel)]="word.text" maxlength="200" notEmpty/>
          <input type="text" nz-input name="translation-{{wordIndex}}" placeholder="Translation"
            [(ngModel)]="word.translation" maxlength="200"/>
          <button nz-button (click)="deleteWord(wordIndex)" [disabled]="words.length === 1">
            <i nz-icon type="delete"></i>
          </button>
        </nz-input-group>
      </nz-form-item>
    </div>
    <nz-form-item class="actions">
      <div nz-col [nzXs]="8">
        <button nz-button (click)="closeModal()">
          <i nz-icon nzType="left-circle"></i> Cancel
        </button>
      </div>
      <div nz-col [nzXs]="8" class="add-icon">
        <a (click)="addWord()">
          <i nz-icon nzType="plus"></i> add word
        </a>
      </div>
      <div nz-col [nzXs]="8" class="save-btn">
        <button nz-button nzType="primary" (click)="saveWords()"
          [nzLoading]="loading" [disabled]="form.invalid">
          <i nz-icon nzType="save"></i> Save
        </button>
      </div>
    </nz-form-item>
  </form>
</nz-modal>