.content {
  position: relative;
}

.ui.form {
  max-height: 325px;
  overflow-x: hidden;
  overflow-y: auto;
  margin-bottom: 15px;
  textarea {
    resize: none;
  }
  .fields {
    position: relative;
    padding-right: 50px;
    .button {
      position: absolute;
      top: 12px;
      right: 10px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
} 

.button.save {
  margin-left: 14px;
}